{
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app"],
  "rules": {
    // suppress errors for missing 'import React' in files
    "react/react-in-jsx-scope": "off",

    /** allow [".js", ".jsx", ".ts", ".tsx"] files to contain JSX */
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/prop-types": "off"
  }
}
